:host {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.left-part,
.right-part {
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.right-part {
    justify-content: space-between;
}
