<div class="left-part">
    <app-actions
        (latest)="setLatestBoard()"
        (restart)="reset()"
        (reverse)="reverse()"
        (undo)="undo()"
        #actions
    ></app-actions>
    <app-settings #settings></app-settings>
    <label for="manualMove">Manual move:</label>
    <div class="input-group">
        <div class="input-group-prepend"></div>
        <input
            type="text"
            class="form-control"
            placeholder="blue"
            [(ngModel)]="manualMove"
            id="manualMove"
            aria-describedby="basic-addon3"
        >
        <button
            type="button"
            class="btn btn-primary"
            style="margin-left:auto; margin-right: 10px"
            (click)="moveManual()"
        >
            Move
        </button>
    </div>
</div>
<div class="middle-part">
    <ngx-chess-board
        [darkTileColor]="settings.darkTileColor"
        [dragDisabled]="settings.dragDisabled"
        [drawDisabled]="settings.drawDisabled"
        [lightTileColor]="settings.lightTileColor"
        [size]="settings.size"
        (moveChange)="moveCallback($event)"
        #boardManager
    ></ngx-chess-board>
</div>
<div class="right-part">
    <app-moves
        (switchToMoveIndex)="switchBoard($event)"
        #movesManager
    ></app-moves>
    <app-fen
        [fen]="fen"
        (fenChange)="setFen($event)"
        #fenManager
    ></app-fen>
</div>
