<div class="left-part">
    <app-actions
        (latest)="setLatestBoard()"
        (restart)="reset()"
        (reverse)="reverse()"
        (undo)="undo()"
        #actions
    ></app-actions>
    <app-settings #settings></app-settings>
</div>
<div class="middle-part">
    <ngx-chess-board
        [darkTileColor]="settings.darkTileColor"
        [dragDisabled]="settings.dragDisabled"
        [drawDisabled]="settings.drawDisabled"
        [lightTileColor]="settings.lightTileColor"
        [size]="settings.size"
        (moveChange)="moveCallback($event)"
        #boardManager
    ></ngx-chess-board>
</div>
<div class="right-part">
    <app-moves
        (switchToMoveIndex)="switchBoard($event)"
        #movesManager
    ></app-moves>
    <app-fen
        [fen]="fen"
        (fenChange)="setFen($event)"
        #fenManager
    ></app-fen>
</div>
